* {
    background-color: rgb(239, 247, 247); text-align: center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    display: inline-block; text-align: left;
}

ol {
    display: inline-block; text-align: left;
}

li{
    text-align: left;
}

img {
    height: auto; width: 600px;
}

